PORT=5000
DB_HOST=localhost
DB_PORT=5432
DB_NAME=mothrly
DB_USER=postgres
DB_PASSWORD=yourpassword
ACCESS_TOKEN=your_whatsapp_cloud_api_token
PHONE_NUMBER_ID=your_meta_phone_number_id
ADMIN_WHATSAPP_NUMBER=+91XXXXXXXXXX
